@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    }
table {
    border-collapse : collapse;
    }
.body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 말풍선 시작 */

input[id*="popup"] {
    display: none;
}
input[id*="popup"] + label {
    position: fixed;
    top: 50%;
    right: 0;
    cursor: pointer;
    margin: 0 75px 0 0;
}
input[id*="popup"] + label + div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
input[id*="popup"] + label + div {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
input[id*="popup"]:checked + label + div {
    opacity: 1;
    visibility: visible;
}
input[id*="popup"] + label + div > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 770px;
    background: #fff;
    z-index: 2;
}
input[id*="popup"] + label + div > label {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
}
.bob_first {
    font-size: 22px;
    color: #32A3DB;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 0 0;
}

/* 말풍선 끝 */

/* 메인 메뉴 시작 */

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* 이미지가 줄바꿈되지 않도록 설정 */
    padding: 114px 0; /* 상하 패딩 추가 */
}
.menu-container img {
    max-width: 100%; /* 이미지 최대 너비를 부모 요소에 맞춤 */
    height: auto; /* 이미지 높이를 자동으로 조절하여 비율 유지 */
  }
  .menu-container a {
    margin: 10px;
  }

/* 메인 메뉴 끝 */

/* 소개 시작 */
.main-intro .intro-container{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-container img {
    max-width: 100%;
    height: auto;
}
.main-intro .intro-font-container {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-font-container .intro-font h1 {
    text-align: center;
    font-size: 42px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.intro-font-container .intro-font p {
    text-align: center;
    font-size: 22px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 소개 끝 */

/* 소개 시작2 */

.main-intro2 .intro-container img{
    margin-top: 160px;
    margin-bottom: 120px;
}
.intro-font2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.intro-font2 h1{
    width: 500px;
    height: 230px;
    margin-right: 10px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 42px;
}
.intro-font2 p{
    margin-right: 50px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 22px;
}

/* 소개 끝2 */

/* bottom 시작 */

.bottom-container{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-container .text {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 42px;
}
.bottom-container .text h4{
    margin-top: 10px;
    margin-bottom: 85px;
    margin-right: 615px;
}

/* bottom 끝 */

/* map 시작 */

.map-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    z-index: -2;
}
.map-menu .map {
    width: 800px;
    height: 500px;
    position: relative;
    float: left;
    margin-right: 50px;
}
.map-menu .svg img {
    width: 2rem;
    height: 2rem;
}
.map-menu .svg img, span {
   vertical-align: middle;
}
.map-menu .svg{
    width: 400px;
    height: 128px;
}
.map-menu span{
    margin-top: 15px;
    font-size: 22px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.map-menu .about {
    width: 220px;
    margin-top: 170px;
    padding: 10px 45px;
    background-color: #32A3DB;
    border-radius: 30px;
    border: 1px solid #32A3DB;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.map-menu .about:hover {
    background-color: transparent;
    color: #32A3DB;
}
.map-menu .about a {
    text-decoration: none;
    color: #000000;
}
.map-menu .item {
    border-bottom: solid 1px #000000;
    padding-bottom: 20px;
}

/* map 끝 */

/* info 시작 */

.info {
    background-color: #000000;
    color: white;
}
.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.info-container h4, h3 {
    margin-top: 90px;
}
.info-container h4 {
    font-size: 22px;
}
.info-container h3 {
    font-size: 26px;
}
.info-container .box-2 p {
    font-size: 15px;
    margin-bottom: 7px;
}
.info-box {
    width: 400px;
    height: 300px;
}
.info-box img {
    float: right;
    margin: 90px 50px 0 0;
}
.info-container .box-1 a {
    display: inline-block;
    margin-bottom: 7px;
    color: white;
}

/* info 끝 */